/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0a192f;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    overflow-y: scroll;
    background: #0a192f
  }
  
  ::-webkit-scrollbar-thumb {
    background: #B2B2B2;
    border-radius: 6px;
  }